<div class="d-flex justify-content-between align-item-center match"
     [ngClass]="match ? 'ok-background' : 'nope-background'"
>
  <p class="ml-3">{{pretend}}</p>
  <div class="btn btn-perso">Supprimer</div>
</div>
