<h3 class="text-center m-5">Voici tes prétendants</h3>
<div class="d-flex justify-content-center mb-3">
  <label class="mr-3" for="interet-select">Filtrer par:</label>
  <select (change)="filterBy($event.target.value)" name="interest" id="interet-select">
    <option value=""></option>
    <option
      *ngFor="let interest of listOfInterest"
      value="{{interest.id}}">{{interest.nom}}
    </option>
  </select>
</div>

<div class="pretenders">
  <div *ngFor="let pretender of listPretenders">
    <app-pretender
      [nom]="pretender.nom"
      [prenom]="pretender.prenom"
      [photoUrl]="pretender.photoUrl"
      [interets]="pretender.interets"
      [id]="pretender.id"
    ></app-pretender>
  </div>
</div>
