h3 {
  color: #FD3774;
}

.pretenders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media (max-width: 1020px) {
  .pretenders {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 720px) {
  .pretenders {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 400px) {
  .pretenders {
    grid-template-columns: 1fr;
  }
}
