<div id="header">
  <div id="nav-bar">
    <div class="d-flex align-items-center">
      <a href="/" class="d-flex align-items-center"><img
        src="https://cdn.1min30.com/wp-content/uploads/2018/05/logo-Tinder-1.jpg" alt="">
        <h3>Zinder</h3>
      </a>
      <a href="/stats">Statistiques</a>
    </div>
  </div>
</div>
