#header{
  display: flex;
  justify-content: center;
  align-content: center;
}

#nav-bar{
  border-bottom: solid 1px #E4E4E4;
  width:95%;
  display: table-cell;
  vertical-align: middle
}

h3{
  margin-right: 30px;
}
img{
  width:100px
}
