<div class="d-flex">
  <div class="d-flex mr-5">
    <div class="ok-background barre mr-2 mt-2"></div>
    <p>Like</p>
  </div>
  <div class="d-flex">
    <div class="nope-background barre mr-2 mt-2"></div>
    <p>Nope</p>
  </div>
</div>
