.cadre {
  position: relative;
}

.pretender {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

img {
  width: 200px;
  height: 300px;
}

.match-status {
  border: solid 1px black;
  float: right;
  color: green;
  border-radius: 50%;
  left: 30px;
  padding: 0px 6px;
  font-weight: bold;
  margin-left: -30px;
}

.nope-status {
  border: solid 1px black;
  float: right;
  color: red;
  border-radius: 50%;
  padding: 0px 6px;
  font-weight: bold;
  margin-left: -30px;
}

