<div class="cadre">
  <div *ngIf="match === true" class="match-status">O</div>
  <div *ngIf="match === false" class="nope-status">X</div>
  <div class="pretender">
    <h5 class="text-center mb-2">{{prenom}} {{nom}}</h5>
    <img src="{{photoUrl}}" alt="photo du prétendant">

    <app-interet
      [interets]="interets"
    ></app-interet>

    <app-like
      [id]="id"
      (emitMatch)="getMatch($event)"
    ></app-like>
  </div>
</div>

