.like {
  margin-top: 10px;
  border-radius: 6px;
  background: darkgrey;
  display: flex;
  justify-content: space-around;
  width: 200px;
  height: 70px;
}

.btn-green {
  border-radius: 6px;
  background: green;
  color: white;
  height: 40%;
}

.btn-green:hover {
  background: darkgreen;
}

.btn-red {
  border-radius: 6px;
  background: red;
  color: white;
  height: 40%;
}

.btn-red:hover {
  background: darkred;
}
