<div class="like align-items-center">
  <div class="btn btn-green d-flex align-items-center" (click)="clickMatch(true)">Like</div>
  <div class="btn btn-red d-flex align-items-center" (click)="clickMatch(false)">Nope</div>
</div>
