a{
  color: black;

}
a:hover{
  color: black;
  text-decoration: none;
}

.btn-perso{
  background: white;
  border: 1px solid #E4E4E4;
  border-radius: 8px;
  padding: 4px 8px;
  transition: 0.4s ease;
  color: black;
}
.btn-perso:hover{
  background: black;
  transition: 0.4s ease;
  color: white;
}

.ok-background{
  background: green;
}

.nope-background{
  background: red;
}
