<div>
  <div *ngFor="let match of listMatch">
    <app-match
      [id]="match.id"
      [profile]="match.profil"
      [match]="match.match"
      [listOfPretenders]="listPretenders">
    </app-match>
  </div>
</div>
